* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  justify-content: start;
}
.container {
  width: 50%;
  padding: 60px;
}
.header img {
  height: 40px;
  margin-bottom: 20px;
}

.container h1 {
  margin-bottom: 30px;
}

.form p {
  margin-bottom: 20px;
  font-size: 14px;
}

.form input {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  background: #ffffff;
  border: 1px solid #333;
  border-radius: 6px;
  color: #000;
  outline: none;
}

.form input::placeholder {
  color: #888;
}

.form input:focus {
  border-color: #2f6df6;
}

/*IMAGE STYLING*/
.image {
  flex: 1;
  height: 100vh;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
